@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 244, 237);
}

.nav {
  display: flex;
  justify-content: center;
  background-color: rgb(28, 220, 153);
  align-items: center;
  gap: 10px;
  color: white;
  box-shadow: 0px 2px 20px rgb(0, 0, 0,.2);
  margin-bottom: 19px;
}



.nav h1 {
  font-size: 28px;
}

.nav img {
  width: 26px;
  height: 26px;
}



/* MAIN CONTENT AHEAD I REPEAT MAIN CONTENT AHEAD */


.travel-list {
  margin: 4rem 2rem;
  transition: all 0.3s ease;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333;  /* old IE */
  background-color: #269c57;  /* Modern Browsers */
  max-width: 876px;
}


.component {
  display: flex;
  align-items: center;
  max-width: 876px;
  margin: 3rem auto;
  transition: all 0.3s ease;
}

.component img {
  border-radius: 5px;
  width: 320px;
  aspect-ratio: 16 / 10;
  object-fit: cover;
  transition: all 0.3s ease;
}

.location {
  display: flex;
  align-items: center;
}

.country {
  margin: 0 16px 0 3px;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: .8rem;
}

.location i {
  color: rgb(28, 220, 153);
}

.container {
  display: flex;
  align-items: center;
}

.location > a {
  font-size: .8rem;
  color: rgb(144, 151, 148);
}

.name {
  margin: 2px 0;
  font-size: 2.6vw;
  color: #2c2c2c;
  letter-spacing: .05em;
  text-shadow: 
  4px 4px 0px rgb(255, 244, 237), 
  5px 5px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.main-info {
  margin-left: 2rem;
  transition: all 0.3s ease;
}

.date span, .date p {
  font-weight: bold;
}

.date > p {
  margin: 0;
}

.description {
  font-size: .8rem;
}




/* mobile design */

@media (max-width: 1366px) {
  .name {
    font-size: 2.2rem;
  }
}


@media (max-width: 966px) {
  .component img {
    aspect-ratio: 16 / 11;
  }
  .component {
    margin: 3.2rem auto;
  }
}

@media (max-width: 768px) {
  .component  {
    flex-direction: column;
    margin-bottom: 25px;
  }
  .component img {
    aspect-ratio: 16/9;
    width: 100%;
  }

  .travel-list {
    margin: 4rem 4rem;
  }

  .main-info {
    margin-left: 0;
    margin-top: 20px;
  }
}